{{#> layout }}
	<div>
		<p>Hallo {{ nameGerman }},</p>
		<p>Sie habe sich für die Web-Applikation zur Meilensteintrendanalyse registriert.</p>
		<p>Bitte <a href="{{ host }}/{{ verificationUrl }}" target="_blank">verifizieren</a> Sie Ihre E-Mail-Adresse.</p>
	</div>
	<hr style="border-style: dashed;">
	<div>
		<p>Hello {{ nameEnglish }},</p>
		<p>you have registered yourself for the web application of the Milestone Trend Analysis.</p>
		<p>Please <a href="{{ host }}/{{ verificationUrl }}" target="_blank">verify</a> your email address.</p>
	</div>
{{/layout}}
