{{#> layout }}
	<div>
		<p>Hallo {{ name }},</p>
		<p>Sie wurden von {{ projectOwner }} für das Projekt "{{ projectName }}" als Mitglied eingeladen.</p>
		<p>Bitte <a href="{{ host }}/{{ url }}" target="_blank">akzeptieren</a> Sie die Einladung, um dem Projekt final beizutreten.</p>
	</div>
	<hr style="border-style: dashed;">
	<div>
		<p>Hello {{ name }},</p>
		<p>you were invited by {{ projectOwner }} to join the project "{{ projectName }}" as a member.</p>
		<p>Please <a href="{{ host }}/{{ url }}">accept</a> the invitation, to join the project.</p>
	</div>
{{/layout}}
